* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .fertilizer-container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .column-left,
  .column-right {
    flex: 1;
  }
  
  .fertilizer-distribution,
  .requests-section {
    background-color: #ccffcc;
    padding: 20px;
    border-radius: 8px;
  }
  
  .requests-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .history-button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .requests-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  .requests-table th,
  .requests-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .confirm-button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .distribution-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  
  .distribution-form label {
    font-weight: bold;
  }
  
  .distribution-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
   
  }
  
  .footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
  }
  